<a href="https://colab.research.google.com/github/sjhd1109/project/blob/main/xai%20credig%20modeling_data%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
# 데이터 값 실수. 소수점 f째자리까지 표시
pd.options.display.float_format = '{:.4f}'.format

In [ ]:
data =pd.read_table('/content/drive/MyDrive/data_original.csv',sep=',', encoding='euc-kr')
data = data[data.budo !=99]

In [ ]:
data.head()

   upjong      date  cc  seg  ...            KK138   KK139    KK140  budo
0       2  20081231   0    1  ...          -0.5111 21.5806   9.4165     0
1       2  20091231   1    1  ... 11111111111.0000 16.2838 218.9803     0
2       1  20081231   0    1  ...           0.2096 40.7791  38.5533     0
3       1  20091231   0    1  ...          -3.1981 32.8655  25.0182     0
4       1  20101231   0    1  ...          -2.1655 18.8322  14.4436     0

[5 rows x 145 columns]

![image.png]()

In [ ]:
# 변수 추출  재무비율 22 / 업종, SEG, 부도 -> 25개
df = data[['upjong', 'seg',	'KK068', 'KK069' , 'KK057', 'KK054', 'KK061', 'KK103', 'KK137', 'KK077', 'KK074','KK081',
           'KK083', 'KK043', 'KK109','KK039', 'KK045', 'KK044','KK050', 'KK030','KK031','KK033','KK025','KK032','budo']]

# 1. Missing value -> 더미 변수로 변환 (결측치 제거하기로 함) ->중앙값 대체

In [ ]:
df['KK068_M'] = np.where(df['KK068']=="nan", 1,0)
df['KK069_M'] = np.where(df['KK069']=="nan", 1,0)
df['KK057_M'] = np.where(df['KK057']=="nan", 1,0)
df['KK058_M'] = np.where(df['KK058']=="nan", 1,0)
df['KK137_M'] = np.where(df['KK137']=="nan", 1,0)
df['KK081_M'] = np.where(df['KK081']=="nan", 1,0)
df['KK083_M'] = np.where(df['KK083']=="nan", 1,0)
df['KK043_M'] = np.where(df['KK043']=="nan", 1,0)
df['KK053_M'] = np.where(df['KK053']=="nan", 1,0)
df['KK039_M'] = np.where(df['KK039']=="nan", 1,0)
df['KK030_M'] = np.where(df['KK030']=="nan", 1,0)
df['KK031_M'] = np.where(df['KK031']=="nan", 1,0)
df['KK033_M'] = np.where(df['KK033']=="nan", 1,0)
df['KK025_M'] = np.where(df['KK025']=="nan", 1,0)
print(df)

In [ ]:
df.isnull().sum()

upjong        0
seg           0
KK068     53965
KK069     53965
KK057     53965
KK054     53965
KK061     53965
KK103     53965
KK137     53965
KK077     53965
KK074     53965
KK081     53965
KK083     53965
KK043     53965
KK109     53965
KK039     53965
KK045     53965
KK044     53965
KK050     53965
KK030     53965
KK031     53965
KK033     53965
KK025     53965
KK032     53965
budo          0
dtype: int64

In [ ]:
data_missing = df.dropna(axis=0) #결측치 삭제 53967개 
data_missing = data_missing.reset_index()  #index 다시 
data_missing = data_missing.drop("index", axis =1)

In [ ]:
data.to_csv('/content/drive/MyDrive/data_m.csv',index=False)

In [ ]:
data_missing.describe()

            upjong          seg  ...            KK032         budo
count 1704795.0000 1704795.0000  ...     1704795.0000 1704795.0000
mean        3.1857       2.9941  ...   427292535.2294       0.0082
std         1.3652       1.0274  ...  6148082045.9392       0.0903
min         1.0000       1.0000  ...  -105767960.0000       0.0000
25%         2.0000       2.0000  ...         -51.1634       0.0000
50%         3.0000       3.0000  ...           0.4673       0.0000
75%         4.0000       4.0000  ...          57.2180       0.0000
max         5.0000       4.0000  ... 88888888888.0000       1.0000

[8 rows x 25 columns]

In [ ]:
data_missing = np.array(data_missing.values.tolist())

In [ ]:
#missing value "중앙값"으로 대체

def median(data) :
    my_list = ['KK068', 'KK069','KK057','KK058','KK137', 
          'KK081','KK083', 'KK043','KK053','KK030', 
          'KK039','KK031','KK033', 'KK025']
    for w in my_list :
      print(w)
      median = data[w].median()
      print(median)
      median_index = np.where((data_m[w].isnull() == "True"))[0]
      data_m[w].loc[median_index]=median
      #data_mi = data[w].fillna(data[w].median(), inplace=True)
    return  data_m

In [ ]:
median(data_m)

In [ ]:
data_missing.isnull().sum()   #data_m = 결측치 중앙값으로 변경한 데이터

upjong    0
seg       0
KK068     0
KK069     0
KK057     0
KK054     0
KK061     0
KK103     0
KK137     0
KK077     0
KK074     0
KK081     0
KK083     0
KK043     0
KK109     0
KK039     0
KK045     0
KK044     0
KK050     0
KK030     0
KK031     0
KK033     0
KK025     0
KK032     0
budo      0
dtype: int64

# 2. 예외처리값 -> 더미변수로

In [ ]:
data_missing['KK068_E'] = data_missing['KK068'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK069_E'] = data_missing['KK069'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK057_E'] = data_missing['KK057'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK054_E'] = data_missing['KK054'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK061_E'] = data_missing['KK061'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK103_E'] = data_missing['KK103'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK137_E'] = data_missing['KK137'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK077_E'] = data_missing['KK077'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK074_E'] = data_missing['KK074'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK081_E'] = data_missing['KK081'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK083_E'] = data_missing['KK083'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK043_E'] = data_missing['KK043'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK109_E'] = data_missing['KK109'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK039_E'] = data_missing['KK039'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK045_E'] = data_missing['KK045'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK044_E'] = data_missing['KK044'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK050_E'] = data_missing['KK050'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK030_E'] = data_missing['KK030'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK031_E'] = data_missing['KK031'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK033_E'] = data_missing['KK033'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK025_E'] = data_missing['KK025'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)
data_missing['KK032_E'] = data_missing['KK032'].apply(lambda x:1 if (x==88888888888) | (x==11111111111) | (x==22222222222) | (x==33333333333) | (x==44444444444) | (x==55555555555) | (x==66666666666) | (x==77777777777) else 0)

In [ ]:
data_missing

         upjong  seg    KK068    KK069  ...  KK031_E  KK033_E  KK025_E  KK032_E
0             2    1  53.7276  43.5822  ...        0        0        0        0
1             2    1 143.6603 131.4818  ...        0        0        0        0
2             1    1  83.3405  33.7064  ...        0        0        0        0
3             1    1  58.6007  22.9891  ...        0        0        0        0
4             1    1  28.6500  17.9199  ...        0        0        0        0
...         ...  ...      ...      ...  ...      ...      ...      ...      ...
1704790       4    4 192.0671 121.3230  ...        0        0        0        0
1704791       4    4 173.3397 113.8837  ...        0        0        0        0
1704792       4    4 186.9412 175.3198  ...        0        0        0        0
1704793       4    4 250.0361 250.0361  ...        0        0        0        0
1704794       4    4 817.6956 753.1853  ...        0        0        0        0

[1704795 rows x 47 columns]

In [ ]:
data_missing['KK068_E']

0          0
1          0
2          0
3          0
4          0
          ..
1704790    0
1704791    0
1704792    0
1704793    0
1704794    0
Name: KK068_E, Length: 1704795, dtype: int64

In [ ]:
data_missing.loc[data_missing['KK068_E'] == 1]

         upjong  seg            KK068  ...  KK033_E  KK025_E  KK032_E
753769        1    3 88888888888.0000  ...        0        0        0
1478337       5    4 88888888888.0000  ...        0        0        0

[2 rows x 47 columns]

In [ ]:
data_e = data_missing # data_e = 예외값 더미변수 만든 데이터

In [ ]:
data_e.head()

   upjong  seg    KK068    KK069  ...  KK031_E  KK033_E  KK025_E  KK032_E
0       2    1  53.7276  43.5822  ...        0        0        0        0
1       2    1 143.6603 131.4818  ...        0        0        0        0
2       1    1  83.3405  33.7064  ...        0        0        0        0
3       1    1  58.6007  22.9891  ...        0        0        0        0
4       1    1  28.6500  17.9199  ...        0        0        0        0

[5 rows x 47 columns]

In [ ]:
pd.set_option('display.max_rows', 500)

# 3. 이상치 -> 찾아내고 -> 예외처리 된 값 제외한 진짜 이상치 값 찾기

In [ ]:
index_tmp = outlier_iqr(df_tmp, 'KK068')[0]

index_e_tmp = np.where(df_tmp['KK068_E'] == 1)[0]
index_e_tmp
print(len(index_e_tmp))

z = list(set(index_tmp)-set(index_e_tmp))
print(len(index_tmp))
print(len(z))

IQR은 158.99240135949998 이다.
lower bound 값은 -725.045307847 이다.
upper bound 값은 1023.8711071074999 이다.
0
5429
5429

In [ ]:
df_tmp=data_e[100000:200000]
df_tmp['KK068_O']=0

In [ ]:
df_tmp

In [ ]:
i=0
for i in range(0,len(z)):
  df_tmp.iloc[z[i],46]=1

In [ ]:
#for 문으로 전체 처리 (이상치  인덱스 구하고 -> 예외값 인덱스 구하고 -> 각 인덱스 빼주고 -> 맞는 인덱스에 붙이기)

#이상치 값 찾기 (iqr , 25%, 75% 이상, 이하 삭제)  -> 5배

def outlier_iqr(data): 
  # lower, upper 글로벌 변수 선언하기     
    #global lower, upper    
    
    # 4분위수 기준 지정하기     
    q25, q75 = np.nanpercentile(data,[25, 75] )       
    
    # IQR 계산하기     
    iqr = q75 - q25    
    
    # outlier cutoff 계산하기     
    cut_off = iqr * 3          
    
    # lower와 upper bound 값 구하기     
    lower, upper = q25 - cut_off, q75 + cut_off     
    
    print('IQR은',iqr, '이다.')     
    print('lower bound 값은', lower, '이다.')     
    print('upper bound 값은', upper, '이다.')   
     
    
    index = np.where((data > upper) | (data < lower))   #만족하는 데이터의 위치(인덱스) 반환
    
    

    # 이상치 총 개수 구하기
    return  index

In [ ]:
len(outlier_iqr(data_e['KK068'])[0])

IQR은 360.45229365499995 이다.
lower bound 값은 -967.0253201099998 이다.
upper bound 값은 1556.140735475 이다.

159200

In [ ]:
def out_loop(data) :
    my_list = ['KK068', 'KK069' , 'KK057', 'KK054', 'KK061', 'KK103', 'KK137', 'KK077', 'KK074','KK081',
           'KK083', 'KK043', 'KK109','KK039', 'KK045', 'KK044','KK050', 'KK030','KK031','KK033','KK025','KK032']
    
    outlier_index = []
    for w in my_list :
      print(w)
      i = outlier_iqr(data[w])[0]
      outlier_index.append(i)
    return outlier_index  #각 변수별 나온 이상치 인덱스 합친거 14차원 배열로

In [ ]:
outlier_index = out_loop(data_e)

KK068
IQR은 360.45229365499995 이다.
lower bound 값은 -967.0253201099998 이다.
upper bound 값은 1556.140735475 이다.
KK069
IQR은 318.4008122985 이다.
lower bound 값은 -874.746768359 이다.
upper bound 값은 1354.0589177305 이다.
KK057
IQR은 222.03377864200002 이다.
lower bound 값은 -628.577623858 이다.
upper bound 값은 925.6588266360001 이다.
KK054
IQR은 44.90288237300001 이다.
lower bound 값은 -106.89686763750004 이다.
upper bound 값은 207.42330897350004 이다.
KK061
IQR은 152.9160706483 이다.
lower bound 값은 -455.7383593882 이다.
upper bound 값은 614.6741351499 이다.
KK103
IQR은 152.93785332079997 이다.
lower bound 값은 -456.5323002282 이다.
upper bound 값은 614.0326730173999 이다.
KK137
IQR은 1.9543056280500002 이다.
lower bound 값은 -5.05109149095 이다.
upper bound 값은 8.6290479054 이다.
KK077
IQR은 34.9854782393 이다.
lower bound 값은 -101.9920421987 이다.
upper bound 값은 142.9063054764 이다.
KK074
IQR은 1.9543056280500002 이다.
lower bound 값은 -5.05109149095 이다.
upper bound 값은 8.6290479054 이다.
KK081
IQR은 235806.529917212 이다.
lower bound 값은 -707409.119668848 이다.
upper bound 값은 943236.589751636 이다.
KK083
IQR은 25.5929265097 이다.
lower bound 값은 -71.77100550630001 이다.
upper bound 값은 107.3794800616 이다.
KK043
IQR은 5.93445262115 이다.
lower bound 값은 -16.35649211365 이다.
upper bound 값은 25.1846762344 이다.
KK109
IQR은 11.43419498035 이다.
lower bound 값은 -32.4443142254 이다.
upper bound 값은 47.59505063705 이다.
KK039
IQR은 28.04116890035 이다.
lower bound 값은 -79.6754617119 이다.
upper bound 값은 116.61272059055 이다.
KK045
IQR은 7.12191481765 이다.
lower bound 값은 -19.602591492899997 이다.
upper bound 값은 30.25081223065 이다.
KK044
IQR은 29.43793812300001 이다.
lower bound 값은 -75.30227902400003 이다.
upper bound 값은 130.76328783700004 이다.
KK050
IQR은 7.228160729799999 이다.
lower bound 값은 -19.102209532249997 이다.
upper bound 값은 31.494915576349996 이다.
KK030
IQR은 52.1388892655 이다.
lower bound 값은 -166.8414283515 이다.
upper bound 값은 198.130796507 이다.
KK031
IQR은 106.89995366549999 이다.
lower bound 값은 -372.1558008465 이다.
upper bound 값은 376.143874812 이다.
KK033
IQR은 111.86437106150001 이다.
lower bound 값은 -389.0202584245 이다.
upper bound 값은 394.030339006 이다.
KK025
IQR은 32.5921793815 이다.
lower bound 값은 -100.091840144 이다.
upper bound 값은 128.0534155265 이다.
KK032
IQR은 108.381469947 이다.
lower bound 값은 -376.30785650099995 이다.
upper bound 값은 382.36243312799996 이다.

In [ ]:
print(np.shape(out_loop(data_e))) #총 22개 변수
print(len(out_loop(data_e)[0]))  #각 (0번째)변수별 인덱스 개수

KK068
IQR은 360.45229365499995 이다.
lower bound 값은 -967.0253201099998 이다.
upper bound 값은 1556.140735475 이다.
KK069
IQR은 318.4008122985 이다.
lower bound 값은 -874.746768359 이다.
upper bound 값은 1354.0589177305 이다.
KK057
IQR은 222.03377864200002 이다.
lower bound 값은 -628.577623858 이다.
upper bound 값은 925.6588266360001 이다.
KK054
IQR은 44.90288237300001 이다.
lower bound 값은 -106.89686763750004 이다.
upper bound 값은 207.42330897350004 이다.
KK061
IQR은 152.9160706483 이다.
lower bound 값은 -455.7383593882 이다.
upper bound 값은 614.6741351499 이다.
KK103
IQR은 152.93785332079997 이다.
lower bound 값은 -456.5323002282 이다.
upper bound 값은 614.0326730173999 이다.
KK137
IQR은 1.9543056280500002 이다.
lower bound 값은 -5.05109149095 이다.
upper bound 값은 8.6290479054 이다.
KK077
IQR은 34.9854782393 이다.
lower bound 값은 -101.9920421987 이다.
upper bound 값은 142.9063054764 이다.
KK074
IQR은 1.9543056280500002 이다.
lower bound 값은 -5.05109149095 이다.
upper bound 값은 8.6290479054 이다.
KK081
IQR은 235806.529917212 이다.
lower bound 값은 -707409.119668848 이다.
upper bound 값은 943236.589751636 이다.
KK083
IQR은 25.5929265097 이다.
lower bound 값은 -71.77100550630001 이다.
upper bound 값은 107.3794800616 이다.
KK043
IQR은 5.93445262115 이다.
lower bound 값은 -16.35649211365 이다.
upper bound 값은 25.1846762344 이다.
KK109
IQR은 11.43419498035 이다.
lower bound 값은 -32.4443142254 이다.
upper bound 값은 47.59505063705 이다.
KK039
IQR은 28.04116890035 이다.
lower bound 값은 -79.6754617119 이다.
upper bound 값은 116.61272059055 이다.
KK045
IQR은 7.12191481765 이다.
lower bound 값은 -19.602591492899997 이다.
upper bound 값은 30.25081223065 이다.
KK044
IQR은 29.43793812300001 이다.
lower bound 값은 -75.30227902400003 이다.
upper bound 값은 130.76328783700004 이다.
KK050
IQR은 7.228160729799999 이다.
lower bound 값은 -19.102209532249997 이다.
upper bound 값은 31.494915576349996 이다.
KK030
IQR은 52.1388892655 이다.
lower bound 값은 -166.8414283515 이다.
upper bound 값은 198.130796507 이다.
KK031
IQR은 106.89995366549999 이다.
lower bound 값은 -372.1558008465 이다.
upper bound 값은 376.143874812 이다.
KK033
IQR은 111.86437106150001 이다.
lower bound 값은 -389.0202584245 이다.
upper bound 값은 394.030339006 이다.
KK025
IQR은 32.5921793815 이다.
lower bound 값은 -100.091840144 이다.
upper bound 값은 128.0534155265 이다.
KK032
IQR은 108.381469947 이다.
lower bound 값은 -376.30785650099995 이다.
upper bound 값은 382.36243312799996 이다.
(22,)
KK068
IQR은 360.45229365499995 이다.
lower bound 값은 -967.0253201099998 이다.
upper bound 값은 1556.140735475 이다.
KK069
IQR은 318.4008122985 이다.
lower bound 값은 -874.746768359 이다.
upper bound 값은 1354.0589177305 이다.
KK057
IQR은 222.03377864200002 이다.
lower bound 값은 -628.577623858 이다.
upper bound 값은 925.6588266360001 이다.
KK054
IQR은 44.90288237300001 이다.
lower bound 값은 -106.89686763750004 이다.
upper bound 값은 207.42330897350004 이다.
KK061
IQR은 152.9160706483 이다.
lower bound 값은 -455.7383593882 이다.
upper bound 값은 614.6741351499 이다.
KK103
IQR은 152.93785332079997 이다.
lower bound 값은 -456.5323002282 이다.
upper bound 값은 614.0326730173999 이다.
KK137
IQR은 1.9543056280500002 이다.
lower bound 값은 -5.05109149095 이다.
upper bound 값은 8.6290479054 이다.
KK077
IQR은 34.9854782393 이다.
lower bound 값은 -101.9920421987 이다.
upper bound 값은 142.9063054764 이다.
KK074
IQR은 1.9543056280500002 이다.
lower bound 값은 -5.05109149095 이다.
upper bound 값은 8.6290479054 이다.
KK081
IQR은 235806.529917212 이다.
lower bound 값은 -707409.119668848 이다.
upper bound 값은 943236.589751636 이다.
KK083
IQR은 25.5929265097 이다.
lower bound 값은 -71.77100550630001 이다.
upper bound 값은 107.3794800616 이다.
KK043
IQR은 5.93445262115 이다.
lower bound 값은 -16.35649211365 이다.
upper bound 값은 25.1846762344 이다.
KK109
IQR은 11.43419498035 이다.
lower bound 값은 -32.4443142254 이다.
upper bound 값은 47.59505063705 이다.
KK039
IQR은 28.04116890035 이다.
lower bound 값은 -79.6754617119 이다.
upper bound 값은 116.61272059055 이다.
KK045
IQR은 7.12191481765 이다.
lower bound 값은 -19.602591492899997 이다.
upper bound 값은 30.25081223065 이다.
KK044
IQR은 29.43793812300001 이다.
lower bound 값은 -75.30227902400003 이다.
upper bound 값은 130.76328783700004 이다.
KK050
IQR은 7.228160729799999 이다.
lower bound 값은 -19.102209532249997 이다.
upper bound 값은 31.494915576349996 이다.
KK030
IQR은 52.1388892655 이다.
lower bound 값은 -166.8414283515 이다.
upper bound 값은 198.130796507 이다.
KK031
IQR은 106.89995366549999 이다.
lower bound 값은 -372.1558008465 이다.
upper bound 값은 376.143874812 이다.
KK033
IQR은 111.86437106150001 이다.
lower bound 값은 -389.0202584245 이다.
upper bound 값은 394.030339006 이다.
KK025
IQR은 32.5921793815 이다.
lower bound 값은 -100.091840144 이다.
upper bound 값은 128.0534155265 이다.
KK032
IQR은 108.381469947 이다.
lower bound 값은 -376.30785650099995 이다.
upper bound 값은 382.36243312799996 이다.
159200

In [ ]:
def exp_loop(data) :
    list_1 = ['KK068_E', 'KK069_E' , 'KK057_E', 'KK054_E', 'KK061_E', 'KK103_E', 'KK137_E', 'KK077_E', 'KK074_E','KK081_E',
           'KK083_E', 'KK043_E', 'KK109_E','KK039_E', 'KK045_E', 'KK044_E','KK050_E', 'KK030_E','KK031_E','KK033_E','KK025_E','KK032_E']
    
    exception_index=[]
    for w in list_1 :
      b = np.where(data[w] == 1)[0]
      exception_index.append(b)
    return exception_index  #각 변수별 나온 예외값 인덱스 합친거

In [ ]:
exception_index = exp_loop(data_e)

In [ ]:
exception_index

[array([ 753769, 1478337]),
 array([ 753769, 1478337]),
 array([], dtype=int64),
 array([173974]),
 array([], dtype=int64),
 array([    290,     416,     627, ..., 1704724, 1704765, 1704766]),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([ 198704,  380440,  428358,  473470,  473471,  501762,  501763,
         754759, 1273840]),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([    722,    1476,    2035, ..., 1704256, 1704338, 1704569]),
 array([    722,   10455,   13677, ..., 1704256, 1704338, 1704569]),
 array([  13677,   24411,   36613, ..., 1704256, 1704338, 1704569]),
 array([  13677,   24411,   36613, ..., 1704256, 1704338, 1704569]),
 array([  10455,   13677,   18551, ..., 1704256, 1704338, 1704569])]

In [ ]:
print(np.shape(exception_index))
print(exception_index)
print(len(exception_index[0]))

(22,)
[array([ 753769, 1478337]), array([ 753769, 1478337]), array([], dtype=int64), array([173974]), array([], dtype=int64), array([    290,     416,     627, ..., 1704724, 1704765, 1704766]), array([], dtype=int64), array([], dtype=int64), array([], dtype=int64), array([], dtype=int64), array([ 198704,  380440,  428358,  473470,  473471,  501762,  501763,
        754759, 1273840]), array([], dtype=int64), array([], dtype=int64), array([], dtype=int64), array([], dtype=int64), array([], dtype=int64), array([], dtype=int64), array([    722,    1476,    2035, ..., 1704256, 1704338, 1704569]), array([    722,   10455,   13677, ..., 1704256, 1704338, 1704569]), array([  13677,   24411,   36613, ..., 1704256, 1704338, 1704569]), array([  13677,   24411,   36613, ..., 1704256, 1704338, 1704569]), array([  10455,   13677,   18551, ..., 1704256, 1704338, 1704569])]
2

In [ ]:
real_outlier_index = []        #진짜 이상치 (전체 이상치-예외인덱스 = 진짜이상치)
i=0
for i in range(0,np.shape(outlier_index)[0]) : 
  c = list(set((outlier_index)[i])-set((exception_index)[i]))
  real_outlier_index.append(c)

In [ ]:
np.shape(real_outlier_index)

(22,)

In [ ]:
list_oo = ['KK068_O', 'KK069_O' , 'KK057_O', 'KK054_O', 'KK061_O', 'KK103_O', 'KK137_O', 'KK077_O', 'KK074_O','KK081_O',
           'KK083_O', 'KK043_O', 'KK109_O','KK039_O', 'KK045_O', 'KK044_O','KK050_O', 'KK030_O','KK031_O','KK033_O','KK025_O','KK032_O']

for i in list_oo :
  data_e[i]=0
#진짜아웃라이어 더미변수 변수에 일단 모두 0 할당

In [ ]:
data_e['KK068_O'].sum()

0

In [ ]:
print(len(outlier_index[0]))
print(len(exception_index[0]))
print(len(real_outlier_index[0]))    #119503개 이상치 - 2개 예외값 = 119501 진짜 이상치 개수

159200
2
159198

In [ ]:
data_e.loc[real_outlier_index[0],['KK068_O']]  #0 할당된거 확인

         KK068_O
1572865        0
1572866        0
1048583        0
1048584        0
1572871        0
...          ...
1572848        0
1572851        0
1572853        0
1572854        0
1572855        0

[159198 rows x 1 columns]

In [ ]:
#생성된 이상치더미변수에 진짜 이상치 인덱스 위치(행,렬) 찾아서 1 넣기
o_list = ['KK068_O', 'KK069_O' , 'KK057_O', 'KK054_O', 'KK061_O', 'KK103_O', 'KK137_O', 'KK077_O', 'KK074_O','KK081_O',
           'KK083_O', 'KK043_O', 'KK109_O','KK039_O', 'KK045_O', 'KK044_O','KK050_O', 'KK030_O','KK031_O','KK033_O','KK025_O','KK032_O']
num = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]
for i,w in zip(num,o_list):
   data_e.loc[real_outlier_index[i],[w]]=1

In [ ]:
print(len(outlier_index[0]))
print(len(exception_index[0]))
print(len(real_outlier_index[0]))

159200
2
159198

In [ ]:
data_e['KK068_O'].sum()  #1 합계 = 진짜아웃라이어인덱스 길이랑 동일해야 함

159198

In [ ]:
print(len(outlier_index[13]))
print(len(exception_index[13]))
print(len(real_outlier_index[13]))

109690
0
109690

In [ ]:
data_e['KK068_O'].sum()

159198

In [ ]:
data_o = data_e  #진짜 이상치 더미변수까지 된 데이터

In [ ]:
data_o_f = data_e

In [ ]:
dataframe = pd.DataFrame(data_o)

In [ ]:
dataframe.to_csv('data_outlier.csv',index=False)   #data_o 저장

# 진짜 아웃라이어 중 UPPER 이상인거 / LOWER 이하인거 더미 추가 (추가 작업)

In [ ]:
data_o.head()

   upjong  seg    KK068    KK069  ...  KK031_O  KK033_O  KK025_O  KK032_O
0       2    1  53.7276  43.5822  ...        1        1        0        0
1       2    1 143.6603 131.4818  ...        0        0        0        0
2       1    1  83.3405  33.7064  ...        0        1        0        1
3       1    1  58.6007  22.9891  ...        0        0        0        0
4       1    1  28.6500  17.9199  ...        0        0        0        0

[5 rows x 69 columns]

In [ ]:
list_oo = ['KK068_O_U', 'KK069_O_U' , 'KK057_O_U', 'KK054_O_U', 'KK061_O_U', 'KK103_O_U', 'KK137_O_U', 'KK077_O_U', 'KK074_O_U','KK081_O_U',
           'KK083_O_U', 'KK043_O_U', 'KK109_O_U','KK039_O_U', 'KK045_O_U', 'KK044_O_U','KK050_O_U', 'KK030_O_U','KK031_O_U','KK033_O_U','KK025_O_U','KK032_O_U',
           'KK068_O_L', 'KK069_O_L' , 'KK057_O_L', 'KK054_O_L', 'KK061_O_L', 'KK103_O_L', 'KK137_O_L', 'KK077_O_L', 'KK074_O_L','KK081_O_L',
           'KK083_O_L', 'KK043_O_L', 'KK109_O_L','KK039_O_L', 'KK045_O_L', 'KK044_O_L','KK050_O_L', 'KK030_O_L','KK031_O_L','KK033_O_L','KK025_O_L','KK032_O_L']

for i in list_oo :
  data_o[i]=0
#진짜아웃라이어 더미변수 변수에 일단 모두 0 할당

In [ ]:
data_o

         upjong  seg    KK068  ...  KK033_O_L  KK025_O_L  KK032_O_L
0             2    1  53.7276  ...          0          0          0
1             2    1 143.6603  ...          0          0          0
2             1    1  83.3405  ...          0          0          0
3             1    1  58.6007  ...          0          0          0
4             1    1  28.6500  ...          0          0          0
...         ...  ...      ...  ...        ...        ...        ...
1704790       4    4 192.0671  ...          0          0          0
1704791       4    4 173.3397  ...          0          0          0
1704792       4    4 186.9412  ...          0          0          0
1704793       4    4 250.0361  ...          0          0          0
1704794       4    4 817.6956  ...          0          0          0

[1704795 rows x 113 columns]

In [ ]:
print(data_o['KK068_O_L'].sum())
print(data_e['KK068_O_U'].sum())

0
0

In [ ]:
 my_list = ['KK068', 'KK069' , 'KK057', 'KK054', 'KK061', 'KK103', 'KK137', 'KK077', 'KK074','KK081',
           'KK083', 'KK043', 'KK109','KK039', 'KK045', 'KK044','KK050', 'KK030','KK031','KK033','KK025','KK032'] 
upper=[]
lower=[]
for i in my_list:
  q25, q75 = np.percentile(data_o[i],[25, 75] ) 
  Iqr = q75 - q25   
  cut_off = Iqr * 3
  lo= q25 - cut_off
  up = q75 + cut_off
  upper.append(up)
  lower.append(lo)

In [ ]:
print(upper[0])
print(lower[0])

1556.140735475
-967.0253201099998

In [ ]:
my_list = ['KK068', 'KK069' , 'KK057', 'KK054', 'KK061', 'KK103', 'KK137', 'KK077', 'KK074','KK081',
           'KK083', 'KK043', 'KK109','KK039', 'KK045', 'KK044','KK050', 'KK030','KK031','KK033','KK025','KK032']
o_list = ['KK068_O', 'KK069_O' , 'KK057_O', 'KK054_O', 'KK061_O', 'KK103_O', 'KK137_O', 'KK077_O', 'KK074_O','KK081_O',
           'KK083_O', 'KK043_O', 'KK109_O','KK039_O', 'KK045_O', 'KK044_O','KK050_O', 'KK030_O','KK031_O','KK033_O','KK025_O','KK032_O']
          
upper_index=[]
lower_index=[]
for i,w in zip(my_list,o_list) : 
  q25, q75 = np.percentile(data_o[i],[25, 75] ) 
  Iqr = q75 - q25   
  cut_off = Iqr * 3
  lower_r, upper_r = q25 - cut_off, q75 + cut_off
  upper_i = np.where((data_o[i] > upper_r) & (data_o[w]==1))[0]
  lower_i = np.where((data_o[i] < lower_r) & (data_o[w]==1))[0]
  upper_index.append(upper_i)
  lower_index.append(lower_i)

In [ ]:
upper_index

[array([    214,     463,     464, ..., 1704762, 1704769, 1704784]),
 array([      9,     214,     463, ..., 1704735, 1704759, 1704769]),
 array([     42,      47,      48, ..., 1704652, 1704663, 1704748]),
 array([], dtype=int64),
 array([      0,      42,      48, ..., 1704664, 1704748, 1704781]),
 array([      9,      88,      89, ..., 1704792, 1704793, 1704794]),
 array([   3600,    3601,    3602, ..., 1704765, 1704766, 1704767]),
 array([      0,       1,       2, ..., 1704783, 1704784, 1704786]),
 array([   3600,    3601,    3602, ..., 1704765, 1704766, 1704767]),
 array([    214,     443,     501, ..., 1704640, 1704641, 1704754]),
 array([    709,     710,     711, ..., 1704783, 1704784, 1704785]),
 array([     60,      69,      72, ..., 1704747, 1704750, 1704763]),
 array([     69,      72,     291, ..., 1704767, 1704776, 1704786]),
 array([     69,     291,     325, ..., 1704739, 1704745, 1704786]),
 array([    167,     292,     344, ..., 1704672, 1704747, 1704763]),
 array([1233816, 1266210, 1411956]),
 array([     69,      72,     167, ..., 1704671, 1704672, 1704747]),
 array([    291,     443,     711, ..., 1704738, 1704753, 1704754]),
 array([      0,      20,      56, ..., 1704591, 1704713, 1704726]),
 array([      0,       6,      24, ..., 1704592, 1704649, 1704713]),
 array([    259,    1448,    1614, ..., 1704753, 1704768, 1704784]),
 array([      6,      24,      58, ..., 1704592, 1704649, 1704713])]

In [ ]:
lower_index

In [ ]:
np.where((data_o['KK054'] < -106.89686763750004) & (data_o['KK054_O']==1))[0]

In [ ]:
data_o.loc[data_o['KK054_O'] == 1]

In [ ]:
data_o.loc[lower_index[3]]

In [ ]:
#생성된 이상치더미변수에 진짜 이상치 인덱스 위치(행,렬) 찾아서 1 넣기
o_list = ['KK068_O_U', 'KK069_O_U' , 'KK057_O_U', 'KK054_O_U', 'KK061_O_U', 'KK103_O_U', 'KK137_O_U', 'KK077_O_U', 'KK074_O_U','KK081_O_U',
           'KK083_O_U', 'KK043_O_U', 'KK109_O_U','KK039_O_U', 'KK045_O_U', 'KK044_O_U','KK050_O_U', 'KK030_O_U','KK031_O_U','KK033_O_U','KK025_O_U','KK032_O_U']
num = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]
for i,w in zip(num,o_list):
   data_o.loc[upper_index[i],[w]]=1

In [ ]:
print(len(upper_index[1]))
print(data_o['KK069_O_U'].sum())

153241
153241

In [ ]:
print(len(upper_index[0]))
print(data_o['KK068_O_U'].sum())

159198
159198

In [ ]:
#생성된 이상치더미변수에 진짜 이상치 인덱스 위치(행,렬) 찾아서 1 넣기
o_list = ['KK068_O_L', 'KK069_O_L' , 'KK057_O_L', 'KK054_O_L', 'KK061_O_L', 'KK103_O_L', 'KK137_O_L', 'KK077_O_L', 'KK074_O_L','KK081_O_L',
           'KK083_O_L', 'KK043_O_L', 'KK109_O_L','KK039_O_L', 'KK045_O_L', 'KK044_O_L','KK050_O_L', 'KK030_O_L','KK031_O_L','KK033_O_L','KK025_O_L','KK032_O_L']
num = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]
for i,w in zip(num,o_list):
   data_o.loc[lower_index[i],[w]]=1

In [ ]:
print(len(lower_index[0]))
print(data_o['KK068_O_L'].sum())

0
0

In [ ]:
print(len(lower_index[1]))
print(data_o['KK069_O_L'].sum())

0
0

In [ ]:
print(len(lower_index[3]))
print(data_o['KK054_O_L'].sum())

567
567

In [ ]:
data_o1 = data_o

# 진짜 아웃라이어는 upper, lower 경계값으로 대체(예외값 바꾸기 전에 먼저 해야 함)

In [ ]:
data_o =pd.read_table('/content/drive/MyDrive/data_outlier.csv',sep=',', encoding='euc-kr')

In [ ]:
data_o1.head()

   upjong  seg    KK068    KK069  ...  KK031_O_L  KK033_O_L  KK025_O_L  KK032_O_L
0       2    1  53.7276  43.5822  ...          0          0          0          0
1       2    1 143.6603 131.4818  ...          0          0          0          0
2       1    1  83.3405  33.7064  ...          0          1          0          1
3       1    1  58.6007  22.9891  ...          0          0          0          0
4       1    1  28.6500  17.9199  ...          0          0          0          0

[5 rows x 113 columns]

In [ ]:
 my_list = ['KK068', 'KK069','KK057','KK058','KK137', 
          'KK081','KK083', 'KK043','KK053','KK030', 
          'KK039','KK031','KK033', 'KK025'] 
upper=[]
lower=[]
for i in my_list:
  q25, q75 = np.percentile(data_o[i],[25, 75] ) 
  Iqr = q75 - q25   
  cut_off = Iqr * 3
  lo= q25 - cut_off
  up = q75 + cut_off
  upper.append(up)
  lower.append(lo)

In [ ]:
print(upper[0])
print(lower[0])

1556.140735475
-967.0253201099998

In [ ]:
my_list = ['KK068', 'KK069' , 'KK057', 'KK054', 'KK061', 'KK103', 'KK137', 'KK077', 'KK074','KK081',
           'KK083', 'KK043', 'KK109','KK039', 'KK045', 'KK044','KK050', 'KK030','KK031','KK033','KK025','KK032']
o_list = ['KK068_O', 'KK069_O' , 'KK057_O', 'KK054_O', 'KK061_O', 'KK103_O', 'KK137_O', 'KK077_O', 'KK074_O','KK081_O',
           'KK083_O', 'KK043_O', 'KK109_O','KK039_O', 'KK045_O', 'KK044_O','KK050_O', 'KK030_O','KK031_O','KK033_O','KK025_O','KK032_O']
          
upper_index=[]
lower_index=[]
for i,w in zip(my_list,o_list) : 
  q25, q75 = np.percentile(data_o[i],[25, 75] ) 
  Iqr = q75 - q25   
  cut_off = Iqr * 3
  lower_r, upper_r = q25 - cut_off, q75 + cut_off
  upper_i = np.where((data_o[i] > upper_r) & (data_o[w]==1))[0]
  lower_i = np.where((data_o[i] < lower_r) & (data_o[w]==1))[0]
  upper_index.append(upper_i)
  lower_index.append(lower_i)
  
  #data_o[i].loc[upper_index]=upper
  #data_o[i].loc[lower_index]=lower

In [ ]:
upper_index

[array([    214,     463,     464, ..., 1704762, 1704769, 1704784]),
 array([      9,     214,     463, ..., 1704735, 1704759, 1704769]),
 array([     42,      47,      48, ..., 1704652, 1704663, 1704748]),
 array([      0,      41,      42, ..., 1704651, 1704652, 1704746]),
 array([   3600,    3601,    3602, ..., 1704765, 1704766, 1704767]),
 array([    214,     443,     501, ..., 1704640, 1704641, 1704754]),
 array([    709,     710,     711, ..., 1704783, 1704784, 1704785]),
 array([     60,      69,      72, ..., 1704747, 1704750, 1704763]),
 array([     69,      72,     291, ..., 1704767, 1704776, 1704786]),
 array([    291,     443,     711, ..., 1704738, 1704753, 1704754]),
 array([     69,     291,     325, ..., 1704739, 1704745, 1704786]),
 array([      0,      20,      56, ..., 1704591, 1704713, 1704726]),
 array([      0,       6,      24, ..., 1704592, 1704649, 1704713]),
 array([    259,    1448,    1614, ..., 1704753, 1704768, 1704784])]

In [ ]:
lower_index

[array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([      0,       1,      67, ..., 1704685, 1704723, 1704724]),
 array([      0,      68,      74, ..., 1704498, 1704600, 1704619]),
 array([], dtype=int64),
 array([      0,       1,      33, ..., 1704086, 1704249, 1704619]),
 array([     41,      43,      49, ..., 1704689, 1704753, 1704767]),
 array([      2,      19,      38, ..., 1704278, 1704532, 1704599]),
 array([], dtype=int64)]

In [ ]:
my_list = ['KK068', 'KK069' , 'KK057', 'KK054', 'KK061', 'KK103', 'KK137', 'KK077', 'KK074','KK081',
           'KK083', 'KK043', 'KK109','KK039', 'KK045', 'KK044','KK050', 'KK030','KK031','KK033','KK025','KK032']
num=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]
for i,w in zip(my_list,num) :
  data_o1[i].loc[upper_index[w]]=upper[w]
  data_o1[i].loc[lower_index[w]]=lower[w]

In [ ]:
data_o1['KK068'].loc[upper_index[0]]

214       1556.1407
463       1556.1407
464       1556.1407
466       1556.1407
610       1556.1407
             ...
1704735   1556.1407
1704759   1556.1407
1704762   1556.1407
1704769   1556.1407
1704784   1556.1407
Name: KK068, Length: 159198, dtype: float64

In [ ]:
data_o1['KK068'].loc[lower_index[0]]

Series([], Name: KK068, dtype: float64)

In [ ]:
print(len(upper_index[0]))
print(len(lower_index[0]))
print(len(real_outlier_index[0]))

159198
0
159198

In [ ]:
data_o1['KK054'].loc[lower_index[3]]

1658      -106.8969
9140      -106.8969
10180     -106.8969
14652     -106.8969
20740     -106.8969
             ...
1664933   -106.8969
1670180   -106.8969
1670363   -106.8969
1673778   -106.8969
1682871   -106.8969
Name: KK054, Length: 567, dtype: float64

In [ ]:
data_o1['KK054'].loc[upper_index[3]]

Series([], Name: KK054, dtype: float64)

In [ ]:
print(len(upper_index[3]))
print(len(lower_index[3]))

print(len(real_outlier_index[3]))

0
567
567

In [ ]:
data_o_1 = data_o1

# 예외값은 중앙값으로 대체

In [ ]:
#예외값은 중앙값으로 imputation
 
#dummy '변수명_E' 변수가 1이면 -> 중앙값
 
def median(data) :
    my_list = ['KK068', 'KK069' , 'KK057', 'KK054', 'KK061', 'KK103', 'KK137', 'KK077', 'KK074','KK081',
           'KK083', 'KK043', 'KK109','KK039', 'KK045', 'KK044','KK050', 'KK030','KK031','KK033','KK025','KK032']
    o_list = ['KK068_E', 'KK069_E' , 'KK057_E', 'KK054_E', 'KK061_E', 'KK103_E', 'KK137_E', 'KK077_E', 'KK074_E','KK081_E',
           'KK083_E', 'KK043_E', 'KK109_E','KK039_E', 'KK045_E', 'KK044_E','KK050_E', 'KK030_E','KK031_E','KK033_E','KK025_E','KK032_E']
    for w in my_list :
      print(w)
      median = data_o_1[w].median()
      print(median)
      for i in o_list : 
      #median_index = np.where((data_o[i]==1))[0]
        data_o.loc[data_o_1[i]==1, w]=median
    return  data_o_1

In [ ]:
median(data_o_1)

KK068
204.75640184
KK069
164.11025817
KK057
109.25472177
KK054
47.788574204
KK061
47.360297623
KK103
8.033212129099999
KK137
1.5310441074
KK077
7.2564684378
KK074
1.5310441074
KK081
48.985756873
KK083
9.471540920399999
KK043
3.7790090446
KK109
5.8221295948
KK039
13.741405190999998
KK045
4.6321656385
KK044
21.630933763
KK050
5.3898268788
KK030
7.9590245404
KK031
-0.296767629
KK033
0.1239785855
KK025
8.0323576074
KK032
0.4672690556

         upjong  seg    KK068  ...  KK033_O_L  KK025_O_L  KK032_O_L
0             2    1  53.7276  ...          0          0          0
1             2    1 143.6603  ...          0          0          0
2             1    1  83.3405  ...          1          0          1
3             1    1  58.6007  ...          0          0          0
4             1    1  28.6500  ...          0          0          0
...         ...  ...      ...  ...        ...        ...        ...
1704790       4    4 192.0671  ...          0          0          0
1704791       4    4 173.3397  ...          0          0          0
1704792       4    4 186.9412  ...          0          0          0
1704793       4    4 250.0361  ...          0          0          0
1704794       4    4 817.6956  ...          0          0          0

[1704795 rows x 113 columns]

In [ ]:
print(data_o_1['KK068'].median())
data_o_1.loc[data_o_1['KK068_E']==1, 'KK068']=data_o_1['KK068'].median()

204.75640184

In [ ]:
data_o_1.loc[data_o_1['KK068_E']==1, 'KK068']

753769    204.7564
1478337   204.7564
Name: KK068, dtype: float64

In [ ]:
data_o_1.loc[data_o_1['KK069_E']==1, 'KK069']

753769    164.1103
1478337   164.1103
Name: KK069, dtype: float64

In [ ]:
data_o_1.describe()

            upjong          seg  ...    KK025_O_L    KK032_O_L
count 1704795.0000 1704795.0000  ... 1704795.0000 1704795.0000
mean        3.1857       2.9941  ...       0.0000       0.0422
std         1.3652       1.0274  ...       0.0000       0.2010
min         1.0000       1.0000  ...       0.0000       0.0000
25%         2.0000       2.0000  ...       0.0000       0.0000
50%         3.0000       3.0000  ...       0.0000       0.0000
75%         4.0000       4.0000  ...       0.0000       0.0000
max         5.0000       4.0000  ...       0.0000       1.0000

[8 rows x 113 columns]

# 산업별

In [ ]:
upjong1 = data_o_1['upjong'] == 1 
upjong2 = data_o_1['upjong'] == 2
upjong3 = data_o_1['upjong'] == 3
data_upjong_1 = data_o_1[upjong1 | upjong2 | upjong3]
data_upjong_1

         upjong  seg     KK068  ...  KK033_O_L  KK025_O_L  KK032_O_L
0             2    1   53.7276  ...          0          0          0
1             2    1  143.6603  ...          0          0          0
2             1    1   83.3405  ...          1          0          1
3             1    1   58.6007  ...          0          0          0
4             1    1   28.6500  ...          0          0          0
...         ...  ...       ...  ...        ...        ...        ...
1704782       1    4   12.2096  ...          0          0          0
1704783       1    4   10.8993  ...          0          0          0
1704784       1    4 1556.1407  ...          0          0          0
1704785       1    4  394.7398  ...          0          0          0
1704786       2    4  116.0100  ...          0          0          0

[942544 rows x 113 columns]

In [ ]:
data_upjong_1 = data_upjong_1.drop('upjong', axis=1)

In [ ]:
data_upjong_1

In [ ]:
upjong4 = data_o_1['upjong'] == 4 

data_upjong_2 = data_o_1[upjong4]
data_upjong_2 = data_upjong_2.drop('upjong', axis=1)

In [ ]:
data_upjong_2

In [ ]:
upjong5 = data_o_1['upjong'] == 5 

data_upjong_3 = data_o_1[upjong5]
data_upjong_3 = data_upjong_3.drop('upjong', axis=1)

In [ ]:
data_upjong_3

         cc  seg     KK068    KK069  ...  KK039_O  KK031_O  KK033_O  KK025_O
42        0    1   54.4199  54.1682  ...        0        0        1        0
43        0    1   56.6674  56.5375  ...        0        1        0        0
44        0    1   54.9822  54.8348  ...        0        0        0        0
45        0    1   66.0965  65.8951  ...        0        0        0        0
46        0    1   73.1750  72.9827  ...        0        0        1        0
...      ..  ...       ...      ...  ...      ...      ...      ...      ...
1704760   0    4  104.4954  95.2167  ...        0        0        0        0
1704761   0    4   97.4693  83.5587  ...        0        0        0        0
1704762   0    4 1556.1407 350.3305  ...        0        0        0        0
1704763   0    4    4.4213   4.4213  ...        0        0        0        0
1704764   0    4   32.5639  32.5639  ...        0        0        0        0

[407593 rows x 45 columns]

In [ ]:
dummy_seg = pd.get_dummies(data_upjong_1['seg'], prefix='seg')
 
continuous_columns = ['KK068', 'KK069' , 'KK057', 'KK054', 'KK061', 'KK103', 'KK137', 'KK077', 'KK074','KK081',
           'KK083', 'KK043', 'KK109','KK039', 'KK045', 'KK044','KK050', 'KK030','KK031','KK033','KK025','KK032']
 
categorical_columns = ['cc',
            'KK068_E', 'KK069_E' , 'KK057_E', 'KK054_E', 'KK061_E', 'KK103_E', 'KK137_E', 'KK077_E', 'KK074_E','KK081_E',
           'KK083_E', 'KK043_E', 'KK109_E','KK039_E', 'KK045_E', 'KK044_E','KK050_E', 'KK030_E','KK031_E','KK033_E','KK025_E','KK032_E',
          'KK068_O', 'KK069_O' , 'KK057_O', 'KK054_O', 'KK061_O', 'KK103_O', 'KK137_O', 'KK077_O', 'KK074_O','KK081_O',
           'KK083_O', 'KK043_O', 'KK109_O','KK039_O', 'KK045_O', 'KK044_O','KK050_O', 'KK030_O','KK031_O','KK033_O','KK025_O','KK032_O',
           'KK068_O_U', 'KK069_O_U' , 'KK057_O_U', 'KK054_O_U', 'KK061_O_U', 'KK103_O_U', 'KK137_O_U', 'KK077_O_U', 'KK074_O_U','KK081_O_U',
           'KK083_O_U', 'KK043_O_U', 'KK109_O_U','KK039_O_U', 'KK045_O_U', 'KK044_O_U','KK050_O_U', 'KK030_O_U','KK031_O_U','KK033_O_U','KK025_O_U','KK032_O_U',
            'KK068_O_L', 'KK069_O_L' , 'KK057_O_L', 'KK054_O_L', 'KK061_O_L', 'KK103_O_L', 'KK137_O_L', 'KK077_O_L', 'KK074_O_L','KK081_O_L',
           'KK083_O_L', 'KK043_O_L', 'KK109_O_L','KK039_O_L', 'KK045_O_L', 'KK044_O_L','KK050_O_L', 'KK030_O_L','KK031_O_L','KK033_O_L','KK025_O_L','KK032_O_L']
 
budo_columns = data_upjong_1['budo']
 
def mean_norm(df_input):
    return df_input.apply(lambda x: (x-x.mean())/ x.std(), axis=0)
 
continuous_columns = data_upjong_1.select_dtypes(include=['float64']).columns.values.tolist()
credit_columns_cont = data_upjong_1[continuous_columns]
credit_columns_cont = mean_norm(credit_columns_cont)
 
categorical_columns = data_upjong_1.select_dtypes(include=['int']).columns.values.tolist()
credit_columns_cat = data_upjong_1[categorical_columns]
 
data_upjong1_final = pd.concat([dummy_seg,credit_columns_cont,credit_columns_cat],axis=1)

In [ ]:
c = ['seg']
data_upjong1_final = data_upjong1_final.drop(c, axis=1)

In [ ]:
data_upjong1_final

         seg_1  seg_2  seg_3  seg_4  ...  KK031_O_L  KK033_O_L  KK025_O_L  KK032_O_L
0            1      0      0      0  ...          0          0          0          0
1            1      0      0      0  ...          0          0          0          0
2            1      0      0      0  ...          0          1          0          1
3            1      0      0      0  ...          0          0          0          0
4            1      0      0      0  ...          0          0          0          0
...        ...    ...    ...    ...  ...        ...        ...        ...        ...
1704782      0      0      0      1  ...          0          0          0          0
1704783      0      0      0      1  ...          0          0          0          0
1704784      0      0      0      1  ...          0          0          0          0
1704785      0      0      0      1  ...          0          0          0          0
1704786      0      0      0      1  ...          0          0          0          0

[942544 rows x 115 columns]

In [ ]:
dummy_seg = pd.get_dummies(data_upjong_2['seg'], prefix='seg')

continuous_columns = ['KK068', 'KK069' , 'KK057', 'KK054', 'KK061', 'KK103', 'KK137', 'KK077', 'KK074','KK081',
           'KK083', 'KK043', 'KK109','KK039', 'KK045', 'KK044','KK050', 'KK030','KK031','KK033','KK025','KK032']
 
categorical_columns = ['cc',
            'KK068_E', 'KK069_E' , 'KK057_E', 'KK054_E', 'KK061_E', 'KK103_E', 'KK137_E', 'KK077_E', 'KK074_E','KK081_E',
           'KK083_E', 'KK043_E', 'KK109_E','KK039_E', 'KK045_E', 'KK044_E','KK050_E', 'KK030_E','KK031_E','KK033_E','KK025_E','KK032_E',
          'KK068_O', 'KK069_O' , 'KK057_O', 'KK054_O', 'KK061_O', 'KK103_O', 'KK137_O', 'KK077_O', 'KK074_O','KK081_O',
           'KK083_O', 'KK043_O', 'KK109_O','KK039_O', 'KK045_O', 'KK044_O','KK050_O', 'KK030_O','KK031_O','KK033_O','KK025_O','KK032_O',
           'KK068_O_U', 'KK069_O_U' , 'KK057_O_U', 'KK054_O_U', 'KK061_O_U', 'KK103_O_U', 'KK137_O_U', 'KK077_O_U', 'KK074_O_U','KK081_O_U',
           'KK083_O_U', 'KK043_O_U', 'KK109_O_U','KK039_O_U', 'KK045_O_U', 'KK044_O_U','KK050_O_U', 'KK030_O_U','KK031_O_U','KK033_O_U','KK025_O_U','KK032_O_U',
            'KK068_O_L', 'KK069_O_L' , 'KK057_O_L', 'KK054_O_L', 'KK061_O_L', 'KK103_O_L', 'KK137_O_L', 'KK077_O_L', 'KK074_O_L','KK081_O_L',
           'KK083_O_L', 'KK043_O_L', 'KK109_O_L','KK039_O_L', 'KK045_O_L', 'KK044_O_L','KK050_O_L', 'KK030_O_L','KK031_O_L','KK033_O_L','KK025_O_L','KK032_O_L']
  
budo_columns = data_upjong_2['budo']
 
def mean_norm(df_input):
    return df_input.apply(lambda x: (x-x.mean())/ x.std(), axis=0)
 
continuous_columns = data_upjong_2.select_dtypes(include=['float64']).columns.values.tolist()
credit_columns_cont = data_upjong_2[continuous_columns]
credit_columns_cont = mean_norm(credit_columns_cont)
 
categorical_columns = data_upjong_2.select_dtypes(include=['int']).columns.values.tolist()
credit_columns_cat = data_upjong_2[categorical_columns]
 
data_upjong2_final = pd.concat([dummy_seg,credit_columns_cont,credit_columns_cat],axis=1)

In [ ]:
c = ['seg']
data_upjong2_final = data_upjong2_final.drop(c, axis=1)

In [ ]:
data_upjong2_final

         seg_1  seg_2  seg_3  seg_4  ...  KK031_O_L  KK033_O_L  KK025_O_L  KK032_O_L
210          1      0      0      0  ...          0          0          0          0
211          1      0      0      0  ...          0          0          0          0
212          1      0      0      0  ...          0          0          0          0
213          1      0      0      0  ...          0          0          0          0
214          1      0      0      0  ...          0          0          0          0
...        ...    ...    ...    ...  ...        ...        ...        ...        ...
1704790      0      0      0      1  ...          0          0          0          0
1704791      0      0      0      1  ...          0          0          0          0
1704792      0      0      0      1  ...          0          0          0          0
1704793      0      0      0      1  ...          0          0          0          0
1704794      0      0      0      1  ...          0          0          0          0

[354658 rows x 115 columns]

In [ ]:
dummy_seg = pd.get_dummies(data_upjong_3['seg'], prefix='seg')
 
continuous_columns = ['KK068', 'KK069' , 'KK057', 'KK054', 'KK061', 'KK103', 'KK137', 'KK077', 'KK074','KK081',
           'KK083', 'KK043', 'KK109','KK039', 'KK045', 'KK044','KK050', 'KK030','KK031','KK033','KK025','KK032']
 
categorical_columns = ['cc',
            'KK068_E', 'KK069_E' , 'KK057_E', 'KK054_E', 'KK061_E', 'KK103_E', 'KK137_E', 'KK077_E', 'KK074_E','KK081_E',
           'KK083_E', 'KK043_E', 'KK109_E','KK039_E', 'KK045_E', 'KK044_E','KK050_E', 'KK030_E','KK031_E','KK033_E','KK025_E','KK032_E',
          'KK068_O', 'KK069_O' , 'KK057_O', 'KK054_O', 'KK061_O', 'KK103_O', 'KK137_O', 'KK077_O', 'KK074_O','KK081_O',
           'KK083_O', 'KK043_O', 'KK109_O','KK039_O', 'KK045_O', 'KK044_O','KK050_O', 'KK030_O','KK031_O','KK033_O','KK025_O','KK032_O',
           'KK068_O_U', 'KK069_O_U' , 'KK057_O_U', 'KK054_O_U', 'KK061_O_U', 'KK103_O_U', 'KK137_O_U', 'KK077_O_U', 'KK074_O_U','KK081_O_U',
           'KK083_O_U', 'KK043_O_U', 'KK109_O_U','KK039_O_U', 'KK045_O_U', 'KK044_O_U','KK050_O_U', 'KK030_O_U','KK031_O_U','KK033_O_U','KK025_O_U','KK032_O_U',
            'KK068_O_L', 'KK069_O_L' , 'KK057_O_L', 'KK054_O_L', 'KK061_O_L', 'KK103_O_L', 'KK137_O_L', 'KK077_O_L', 'KK074_O_L','KK081_O_L',
           'KK083_O_L', 'KK043_O_L', 'KK109_O_L','KK039_O_L', 'KK045_O_L', 'KK044_O_L','KK050_O_L', 'KK030_O_L','KK031_O_L','KK033_O_L','KK025_O_L','KK032_O_L']
 
 
budo_columns = data_upjong_3['budo']
 
def mean_norm(df_input):
    return df_input.apply(lambda x: (x-x.mean())/ x.std(), axis=0)
 
continuous_columns = data_upjong_3.select_dtypes(include=['float64']).columns.values.tolist()
credit_columns_cont = data_upjong_3[continuous_columns]
credit_columns_cont = mean_norm(credit_columns_cont)
 
categorical_columns = data_upjong_3.select_dtypes(include=['int']).columns.values.tolist()
credit_columns_cat = data_upjong_3[categorical_columns]
 
data_upjong3_final = pd.concat([dummy_seg,credit_columns_cont,credit_columns_cat],axis=1)

In [ ]:
c = ['seg']
data_upjong3_final = data_upjong3_final.drop(c, axis=1)

In [ ]:
data_upjong3_final

         seg_1  seg_2  seg_3  seg_4  ...  KK031_O_L  KK033_O_L  KK025_O_L  KK032_O_L
42           1      0      0      0  ...          0          1          0          1
43           1      0      0      0  ...          1          0          0          0
44           1      0      0      0  ...          0          0          0          0
45           1      0      0      0  ...          0          0          0          0
46           1      0      0      0  ...          0          0          0          0
...        ...    ...    ...    ...  ...        ...        ...        ...        ...
1704760      0      0      0      1  ...          0          0          0          0
1704761      0      0      0      1  ...          0          0          0          0
1704762      0      0      0      1  ...          0          0          0          0
1704763      0      0      0      1  ...          0          0          0          0
1704764      0      0      0      1  ...          0          0          0          0

[407593 rows x 115 columns]

In [ ]:
data_upjong1_final.to_csv('/content/drive/MyDrive/data_upjong1_final.csv',index=False)   #data_final 저장
data_upjong2_final.to_csv('/content/drive/MyDrive/data_upjong2_final.csv',index=False) 
data_upjong3_final.to_csv('/content/drive/MyDrive/data_upjong3_final.csv',index=False)